/* media query tablette et laptop */

@media screen and (max-width:1093px){

    .header-container{
        flex-direction: column;
    } 
    .profile-photo{
        margin-bottom: 12px;
    }
    .card{
        width: 380px;
        display: flex;
        flex-direction: column;
        
    }
    .descrip-projet {
        font-size: 16px;
    }
}
