/* laptop */
@media screen and (max-width:1093px){

    .header-container{
        flex-direction: column;
    } 
    .profile-photo{
        margin-bottom: 12px;
    }
    .card{
        width: 380px;
        display: flex;
        flex-direction: column;
       
        
    }
    .descrip-projet {
        font-size: 16px;
    }
}
    
@media screen and (orientation: landscape) and (max-height: 400px){

    .profile-photo{
        margin-bottom: 12px;
        width: 200px;
    }
    .header-text{
        padding: 10px;
    }
    

}




@media screen and (max-width:448px){

    .header-text h1{
        font-size: 20px;
    }
    .header-text p {
        font-size: 20px;
    }
    .header-text p.tagline{
        font-size: 19px;
    }

    .header-container{
        flex-direction: column;
    } 
    .profile-photo{
        margin-bottom: 12px;
        width: 225px;
    }
    .card{
        width:100%;
        
    }

   .titre-projet{
    margin-bottom: 0px;
    margin-top: 8px;
   }
   .header-text a {
    font-size: 14px;
    color: #333;
    text-decoration: none;
   }
   .rectangle{
    width: 283px;
    height: 83px;

   }

   .rectangle .name{
    font-size: 24px;
    margin: 0px;
    padding-bottom: 4px;
   }
   .rectangle .title{
    font-size: 19px;
    margin: 0px;
   }






}


